body {
    background-color: coral;
    font-family: Calibri , sans-serif;
  }

h2 {
    color:deeppink;
    font-size:64px;
}
p {
    color:seagreen;
    font-size:32px;
}
/* açıklama */