/* class ->.text-red{} */
/* id -> #id-bilgisi {} */
h1, h2, h3, h4, h5, h6 {
    color: #505050;
}
.text-red {
    color:red;
}
.fs-small{
    font-size: 14px;
}
.fs-medium{
    font-size: 20px;
}
.fs-large{
    font-size: 30px;
}